<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Data</title>
</head>
<body>

    <h1>Object Data</h1>

    <h2>Name: <%= obj.name %></h2>
    <p>Age: <%= obj.age %></p>

    <hr>

    <h1>All Students</h1>

    <% allstudent.forEach((student) => { %>
        <h2>Name: <%= student.name %></h2>
        <p>Age: <%= student.age %></p>
        <p>Course: <%= student.course %></p>
        <hr>
    <% }) %>

</body>
</html>